# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# LaTeX build artifacts
*.dvi
*.xdv
*.ps
*.eps

# BibTeX / Biber
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# makeindex / nomencl
*.idx
*.ilg
*.ind
*.ist
*.nlo
*.nls

# SyncTeX
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)

# latexmk
*.fdb_latexmk

# glossaries
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs

# minitoc
*.maf
*.mlf
*.mlt
*.mtc*
*.slf*
*.slt*
*.stc*

# todonotes
*.tdo

# pgf/tikz externalize
*.dpth
*.md5
*.auxlock

# hyperref
*.brf

# pdfcomment
*.upa
*.upb

# fixme
*.lox

# vscode LaTeX Workshop
.vscode/
